body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stations {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  font-size: 40px;
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 700px) {
  .header {
    font-size: 30px;
  }
}

.fa-search {
  position: absolute;
  right: 84px;
  top: 34px;
  color: #808080;
}

.searchbar:focus + .fa-search {
  color: black;
}

.searchbar {
  position: absolute;
  right: 80px;
  font-size: 16px;
  padding: 6px 0px 6px 6px;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  width: 200px;
  top: 25px;
}

.navbar {
  height: 80px;
  display: flex;
  background-color: white;
  border-bottom: solid 1px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.station {
  margin: 20px;
}

.item {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.name {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
